@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@400;500&display=swap');
.footer-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 38px;
    padding-top: 16px;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    gap: 16px;
    background: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1000;
    margin-left: auto;
    
}
.footer-links{
    color: white;
    font-family: 'Inter', sans-serif; 
    display: flex;
    font-weight: 800;
    gap: 25px;
}
.footer-link{
    color: #D2CAC3;
    font-weight: 800;
    text-decoration: none;
}
.footer-link:hover{
    color: white;
}