/* tree.css */

/* General styles for full-screen tree image */
.tree-image {
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 400px; /* Full screen height */
    background-image: url('./images/tree.svg'); /* Replace with your tree image path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}
/* Center all content inside the tree image */
/* Logo image on top of the tree image */
.logo-image {
    height: auto;
    width: 200px;
    display: block;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for true centering */
    z-index: 1; /* Ensure it stays on top of the tree image */
}

/* Hide logo image in mobile view */
@media (max-width: 768px) {
    .logo-image {
        display: none;
    }
    .tree-image {
        width: 300px;
    }
}